<div id="<%= dom_id sample %>">
  <p>
    <strong>Sample type:</strong>
    <%= sample.sample_type %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= sample.status %>
  </p>

  <p>
    <strong>Test:</strong>
    <%= sample.test_id %>
  </p>

  <p>
    <strong>Patient:</strong>
    <%= sample.patient_id %>
  </p>

</div>
