<%= turbo_frame_tag 'new_patient' do %>
  <div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
      <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
      <!-- Modal Content -->
      <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
      <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
        <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
          <%= form_with(model: @patient, url: patients_path, data: { turbo: false }) do |form| %>
            <% if @patient.errors.any? %>
              <div id="error_explanation" class="bg-red-100 p-3 rounded text-red-500 mb-4">
                <h2 class="font-semibold text-lg">
                  <%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:
                </h2>
                <ul>
                  <% @patient.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <!-- Form Fields -->
            <div class="mb-4">
              <%= form.label :name, class: "block text-sm font-medium text-gray-700" %>
              <%= form.text_field :name, class: "mt-1 p-2 w-full rounded border shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500" %>
            </div>
            <div class="mb-4">
              <%= form.label :dob, class: "block text-sm font-medium text-gray-700" %>
              <%= form.date_field :dob, class: "mt-1 p-2 w-full rounded border shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500" %>
            </div>
            <div class="mb-4">
              <%= form.label :patient_email, class: "block text-sm font-medium text-gray-700" %>
              <%= form.email_field :patient_email, class: "mt-1 p-2 w-full rounded border shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500" %>
            </div>
            <%= form.fields_for :samples, @patient.samples.build do |sample_form| %>
              <div class="sample-fields mb-4">
                <%= sample_form.label :test_id, "Test", class: "block text-sm font-medium text-gray-700" %>
                <%= sample_form.collection_select :test_id, Test.all, :id, :name, { include_blank: 'Please select a test' }, class: "mt-1 p-2 w-full rounded border shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500" %>
                <%= sample_form.hidden_field :_destroy, class: 'sample-destroy' %>
                <%= link_to "Remove this test", '#', class: "remove-sample text-red-500" %>
              </div>
              <div class="mb-4">
                <%= sample_form.label :sample_type, "Sample Type", class: "block text-sm font-medium text-gray-700" %>
                <%= sample_form.text_field :sample_type, class: "mt-1 p-2 w-full rounded border shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500" %>
              </div>
              <div class="mb-4">
                <%= sample_form.label :status, "Status", class: "block text-sm font-medium text-gray-700" %>
                <%= sample_form.select :status, ['pending', 'processing', 'completed'], { selected: 'pending' }, class: "mt-1 p-2 w-full rounded border shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500" %>
              </div>
            <% end %>
            <%= link_to "Add another test", '#', id: "add-sample", class: "text-blue-500" %>
            <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
              <%= form.submit "Add Patient", class: "text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 shadow-lg shadow-blue-500/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 cursor-pointer" %>
              <%= link_to 'Cancel', :back, class: "text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 shadow-lg shadow-red-500/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 cursor-pointer" %>
            </div>
          <% end %> <!-- This is where the form should end -->
        </div>
      </div>
    </div>
  </div>
<% end %>
<script>
  document.addEventListener("DOMContentLoaded", function() {
      console.log("DOM loaded");
      document.getElementById("add-sample").addEventListener("click", function(e) {
          console.log("Add sample clicked");
          e.preventDefault();
          let sampleFields = document.querySelector(".sample-fields").cloneNode(true);
          document.getElementById("add-sample").before(sampleFields);
      });

      document.body.addEventListener("click", function(e) {
          if (e.target && e.target.classList.contains("remove-sample")) {
              console.log("Remove sample clicked");
              e.preventDefault();
              let sampleFields = e.target.closest(".sample-fields");
              sampleFields.querySelector(".sample-destroy").value = "1";
              sampleFields.style.display = "none";
          }
      });
  });
</script>
